{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<style>
		body{
			background-image: url("/static/Story1/cave.jpg");
		}
        .first{
            width:15rem;
            height:10rem;
			color:white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            position:absolute;
            top:0;
            left:5;
			background:black;
        }
		.first h1{
            font-size:25;
		}
        .generalIddo{
            width:25rem;
            height:10rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:25;
			color:white;
            position:absolute;
            top:0;
            right:700;
			background:black;
        }
		.marquee{
			width:90rem;
			height:100px;
			color:white;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:5;
			position:absolute;
			right:0;
			top:35%;
		}
		.generalNard{
			width:25rem;
			height:10rem;
			color:white;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:25;
			position:absolute;
			left:850;
			top:0;
		}
		</style>
	</head>
    <body>
        <div class="first">
            <h1>
                Amal Adiguna<br/>
                NPM: 1706018901<br/>
                University of Indonesia<br/>
                Hobbies: Literature. Anything about economics and/or war.<br/>
                Personal Description: 174cm. 72 kg. Short Hair.
            </h1>
            <img src="/static/Story1/Amal_pic_3.jpg" style="width:400px;height:500px;">
        </div>
		<div class="marquee">
			<h2>
				<marquee behavior="scroll" direction="left">BOMBER HARRIS DO IT AGAIN</marquee>
			</h2>
		</div>
		<div class="generalIddo">
			DAVIN IDDO IRAWAN ALFIAN<br/>
			LIKES: KUSH, MLG-LEVEL CALL OF DUTY, AIRHORNS<br/>
			HATES: Me probably lol<br/>
			UNIVERSITAS INDONESIA UNIVERSITAS KAMI<br/>
			CREATOR OF: IDDOWEEB-GOD ON HEROKU<br/>
			He likes anime, clothing, food and a roof over his head.
			<img src="/static/Story1/bleach.jpg" style="width:400px;height:500px;">
		</div>
		<div class="generalNard">
			Nardiena Althafia Pratama<br/>
			Likes: Guys with long hair<br/>
			Hates: Uhhhh... boneless pizza?<br/>
			IBUKOTA NEGARA PUSAT ILMU BUDAYA BANGSA<br/>
			OSUI 2017 CELLO<br/>
			She, like Davin would like to have her primary needs (clothing, food and a roof over her head) fulfilled.
			<img src="/static/Story1/nardiena.jpg" style="width:400px;height:500px;">
		</div>
    </body>
</html>